.controller.ds4.white {
    background-image: url(https://imgur.com/S2YP7wg.png);
}

.ds4.white.disconnected {
    background: url(https://imgur.com/S2YP7wg.png);
}

.ds4.white .trigger {
    background-image: url(ps4-assets/triggers.svgz);
}

.ds4.white .bumper {
    background-image: url(ps4-assets/bumper.svgz);
}

.ds4.white .touchpad.pressed {
    background-image: url(https://imgur.com/0L9U1Fr.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ps4-assets/start.svgz);
}

.ds4.white .button {
    background-image: url(https://imgur.com/dRHLPXL.png);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/vckSHA8.png);
}

.ds4.white .face {
    background-image: url(https://imgur.com/24W7NWU.png);
}