/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://imgur.com/P4vRCm7.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4.white .trigger {
    background-image: url(https://imgur.com/bhBq6Cv.png);
}

.ds4.white .bumper {
    background-image: url(https://imgur.com/l1Jp8qW.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-assets/touchpad.svgz);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://imgur.com/Ou39IQV.png);
}

.ds4.white .button {
    background-image: url(https://imgur.com/gIFgMyS.png);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/H8ha2n9.png);
}

.ds4.white .face {
    background-image: url(https://imgur.com/gNr84hO.png);
}

/*END PS4 White Controller Styling*/